tqdm
torch
opencv-python
ffmpegcv
ffmpeg-python
numpy
python_speech_features
scipy
scenedetect
scikit-learn
gdown
torchvision
torchaudio
pandas
transformers
accelerate
datasets
google-genai
pysubs2
boto3
fastapi[standard]
whisperx
pyannote.audio
av
hf_xet
yt-dlp>=2025.09.26